.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select option {
    display: flex;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: rgb(255, 255, 255);
	color: grey;
	font-size: 0.8rem;
	padding: 20px 5px;
	width: 4rem;
	height: 2rem;
	
}

.content-select select option:hover {
	background-color: rgb(128, 128, 193);

}

.content-select{
	width: 80%;
	position: relative;
    justify-content: center;
    align-items: center;
	font-size: 10px;
}
 
.content-select select{
	display: flex;
	width:100%;
    
	text-align: center;
  	height: 1.5rem;
  	outline: 0; 
  	border: 0;
	font-family: 
	'Quicksand', sans-serif;
	font-size: 0.7rem;
	font-weight: 700;
    border-radius:50px;
    position: relative;
    transition: all 0.25s ease;
	background-color: #f0f0ff00;
}
 
.content-select select:hover{
	background: #f0f0ff;
}
/* @media only screen and (max-width: 600px) and (min-width: 200px) {
	.content-select select{
		display: inline-block;
		width: 100%;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		  padding: 2px;
		  height: 30.75px;
		  outline: 0; 
		  border: 0;
		font-family: 
		'Quicksand', sans-serif;
		font-size: 8px;
		border-radius: 4px;
		position: relative;
		transition: all 0.25s ease;
	}
} */
