.user-container{
    display:flex;
    width: 100vw;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 10px;

   
}
.user-subcontainer{
    display:flex;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    justify-content: left;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 7px 8px 14px -6px rgba(117,117,117,0.75);
    -webkit-box-shadow: 7px 8px 14px -6px rgba(117,117,117,0.75);
    -moz-box-shadow: 7px 8px 14px -6px rgba(117,117,117,0.75);

}
.usertext-container{
    display: flex;
    width: 200px;
    height: fit-content;
}