.sideBar-container{
    margin-top: 50px;
    display: flex;
    width: 50px;
    height: 100%;
    flex-direction: column;
    background-color:#6F5CC4;
    position: fixed;
    z-index: 9;
    box-shadow: 1px 0px 9px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 9px 0px rgba(0,0,0,0.75);
}
.icon-container{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    transition-duration: 300ms;
    border-radius: 5px;

}
.icon-subcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition-duration: 300ms;


}
.icon-subcontainer:hover{
    display: flex;
    margin-bottom: 4px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor:pointer;
    transition-duration: 200ms;
    background-color: #7E6CCA;

}
.icon-pressed{
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #7E6CCA ;
   cursor:pointer;

    border-radius: 5px;
}
