.sideBarMobile-container{
    margin-top: 50px;
    display: flex;
    width: 150px;
    height: 100%;
    flex-direction: column;
    background-color:#6F5CC4;
    align-items: center;
    position: fixed;
    z-index: 9888 !important;
    box-shadow: 1px 0px 9px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 9px 0px rgba(0,0,0,0.75);
animation-name: sidebarMobileAppear;
animation-fill-mode: forwards;
animation-duration: 0.3s;    
}



@keyframes sidebarMobileAppear {
    0% {transform: translateX(-100%); };
    100% {transform: translateX(100%); }
}
.icon-container-Mobile{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 48px;
    transition-duration: 300ms;
    border-radius: 5px;
}

.icon-subcontainer-Mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    transition-duration: 300ms;
}
.icon-subcontainer-Mobile:hover{
    display: flex;
    margin-bottom: 4px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor:pointer;
    transition-duration: 200ms;
    background-color: #7E6CCA;
}
.icon-pressed-Mobile{
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: #7E6CCA ;
   cursor:pointer;

    border-radius: 5px;
}
